%header
  %article
    %img.wow.fadeInDown{src: "images/hallowmeme.png"}
    %h2.wow.fadeInLeft{"data-wow-delay" => "1s"} Costume Party
    %a.wow.fadeInRight{href: "#memes", "data-wow-delay" => "2s"} Meme?

%section.orange
  %article
    %h4 Friday. &nbsp; October &nbsp; 17th. &nbsp; 8PM. &nbsp; Underbelly.

%section.info
  %article
    %h3.wow.fadeInDown{"data-wow-delay" => "3s"} Hallowmeme is an offline celebration of all things online.
    %h5.wow.fadeInDown{"data-wow-delay" => "3s"} (All like the most "cool stuff" in Jacksonville, we stole the idea from Brooklyn.)
    .callout.wow.fadeInDown{"data-wow-delay" => "3s"}
      %h5
        Join us for an evening of dancing, drinking and &nbsp;
        %span> meme
        ory making.
        %br
        Take an "usie" in our photobooth and compete for Most Viral in our costume contest,
        %br
        complete with expert panel of internet trolls.
    %dl
      %dd.wow.fadeInLeft
        %h4 Entry
        %p
          If you're lucky enough to work for one of the companies below, your boss has paid for you to party. So thank the coworker who begged him or her to cough up the dough. If your workplace logo is not listed, we’re sorry that your boss is a dick/is poor/hates fun.
        %p
          You must be on the guest list to attend.
          %a{href: "https://docs.google.com/forms/d/16EUTfp5S4M0Xe4OlsGqIELcSWRVgo2xBHp5KDahYFcs/viewform", target: "_blank"} Individual tickets
          are available to purchase for $40 or ask your company to
          %a{href: "https://docs.google.com/forms/d/15nGc2luGeX79dRTsYOvtJkUsb7TBEJSdddQXEzaa0e8/viewform", target: "_blank"} sponsor the office.
        %p
          Doors open at 8pm  |  Contest winners announced @10pm
          %br
          %strong Questions?
          Re-read this website or bother someone else.
      %dd.wow.fadeInRight
        %h4 Costumes
        %p
          %strong Costumes are required
          but easy– dress like a popular
          %span meme.
          This is your chance to nerd-out and out nerd.
        %p
          Inspiration can be found
          %span below
          and on the internet you dummy.
        %p
          %a{href: "#memes"}I don't know what a meme is.

%section.sponsors
  %article
    %h4 Generous Bar Tab Provided By
    .callout
      %ul.wow.fadeInUp
        %li
          %img{src: "images/kyn.png"}
        %li
          %img{src: "images/ignite.png"}
        %li
          %img{src: "images/onespark.png"}
        %li
          %img{src: "images/sportsyapper.png"}
        %li
          %img{src: "images/station4.png"}
    %dl
      %dd
        %a{href: "https://docs.google.com/forms/d/15nGc2luGeX79dRTsYOvtJkUsb7TBEJSdddQXEzaa0e8/viewform", target: "_blank"}
          %span We want to party
          Let us in! My office wants to participate.
      %dd
        %a{href: "https://docs.google.com/forms/d/16EUTfp5S4M0Xe4OlsGqIELcSWRVgo2xBHp5KDahYFcs/viewform", target: "_blank"}
          %span I want to party
          Meh. My office sucks, solo ticket please!

%section#memes.meme-info
  %article
    %dl
      %dd
        %h3 Meme /meeeeem/ n.
        %h5 A cultural item in the form of an image, video, phrase, etc., that is spread via the Internet and often altered in a creative or humorous way. A meme does not have a format. It is an idea that propagates on the internet. Costume possibilities are literally endless.
      %dd
        %h4 Examples
        %p Viral videos, Image Macros, Tenso, Rick Rolling, Disaster Girl, Insanity Wolf, Bad Luck Brian, the Ice Bucket Challenge...
  .hamster-gif.wow.bounceIn
  %article
    %h3 Meme Gallery
    %ul.memes.wow.fadeInUp
      %li.block
        %a.ermahgerd{href: "http://knowyourmeme.com/memes/ermahgerd", target: "_blank"}
        %p Ermahgerd
      %li.block
        %a.grumpy-cat{href: "http://knowyourmeme.com/memes/grumpy-cat", target: "_blank"}
        %p Grumpy Cat
      %li.block
        %a.dodson{href: "http://knowyourmeme.com/memes/antoine-dodson-bed-intruder", target: "_blank"}
        %p Antoine Dodson
      %li.block
        %a.nyan-cat{href: "http://knowyourmeme.com/memes/nyan-cat-pop-tart-cat", target: "_blank"}
        %p Nyan Cat
      %li.block
        %a.laughing-salad{href: "http://womenlaughingalonewithsalad.tumblr.com", target: "_blank"}
        %p Laughing Alone w/ Salad
      %li.block
        %a.double-rainbow{href: "https://www.youtube.com/watch?v=OQSNhk5ICTI", target: "_blank"}
        %p Double Rainbow
      %li.block
        %a.gangnam-style{href: "https://www.youtube.com/watch?v=9bZkp7q19f0", target: "_blank"}
        %p Gangnam Style
      %li.block
        %a.scumbag-steve{href: "http://knowyourmeme.com/memes/scumbag-steve", target: "_blank"}
        %p Scumbag Steve

:javascript
  // WOW Initializer
  new WOW().init();
  // Scroll To
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
